.upload-logo{
    text-align: center;
}
.blue-cover{
    width: 100px;
    height: 100px;
    background-color: lightblue;
}
.pink-cover{
    width: 100px;
    height: 100px;
    background-color: lightpink;
    
}